<?xml version="1.0" encoding="utf-8"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
    Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\v2.x\Config의 
    machine.config.comments에 있습니다. 
-->
<configuration>
    <appSettings/>
    <connectionStrings>
        <add name="ASPConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=ASP;Persist Security Info=True;User ID=ASP;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <!-- 
            컴파일된 페이지에 디버깅 기호를 삽입하려면 
            compilation debug="true"로 설정하십시오. 이렇게 하면 
            성능에 영향을 주므로 개발하는 동안에만 이 값을 
            true로 설정하십시오.
        -->
        <compilation debug="false" />
        <!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            보안 인증 모드의 구성을 설정하여 들어오는 
            사용자를 식별할 수 있습니다. 
        -->
        <authentication mode="Windows" />
        <!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이 섹션에서는 
            개발자가 오류 스택 추적 대신 html 오류 페이지가 표시되도록 
            구성할 수 있습니다.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
