<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.web>

    <!--  동적 디버깅 컴파일
          ASPX 디버깅을 사용하려면 compilation debug="true"로 설정합니다. 이렇게 하지 않고
          해당 값을 false로 설정하면 이 응용 프로그램의 런타임 성능이 향상됩니다. 
          컴파일된 페이지에 디버깅 기호(.pdb 정보)를 삽입하려면 compilation debug="true"로 설정합니다.
          이렇게 하면 파일 크기가 커져서 실행 속도가 느려지므로
          디버깅하는 경우에만 이 값을 true로 설정하고
          디버깅하는 경우 외에는 모두 false로 설정합니다. 자세한 내용은 ASP.NET 파일 디버깅에 관한
          설명서를 참조하십시오.
    -->
    <compilation 
         defaultLanguage="c#"
         debug="true"
    />

    <!--  사용자 지정 오류 메시지
          사용자 지정 오류 메시지를 사용하려면 customErrors mode="On" 또는 "RemoteOnly"로 설정하고 사용하지 않으려면 "Off"로 설정합니다. 
          처리할 각 오류에 <error> 태그를 추가하십시오.

          "On" 항상 사용자에게 친숙한 메시지가 표시됩니다.
          "Off" 항상 자세한 ASP.NET 오류 정보가 표시됩니다.
          "RemoteOnly" 로컬 웹 서버에서 액세스하지 않는 사용자에게만 사용자에게 친숙한 
           메시지가 표시됩니다. 이 설정은 원격 클라이언트에서 응용 프로그램의 자세한 정보가 
           표시되지 않도록 보안을 강화할 때 사용하면 좋습니다.
    -->
    <customErrors 
    mode="RemoteOnly" 
    /> 

    <!--  인증 
          이 섹션에서는 응용 프로그램의 인증 정책을 설정합니다. 가능한 모드로는 "Windows", 
          "Forms", "Passport" 및 "None"이 있습니다.

          "None"을 지정하면 인증이 수행되지 않습니다. 
          "Windows"를 지정하면 IIS가 인증 설정에 따라 인증을 수행합니다(기본, 다이제스트 또는 Windows 통합 인증).
           익명 액세스는 IIS에서 비활성화시켜야 합니다. 
          "Forms"를 지정하면 사용자에게 자격 증명을 입력할 수 있는 사용자 지정 양식(웹 페이지)를 
           표시하여 사용자를 응용 프로그램에서 인증합니다. 사용자 자격 증명 토큰은 쿠키에 저장됩니다.
          "Passport"를 지정하면 인증이 Microsoft에서 제공하는 중앙 집중식 인증 서비스를 통해 수행되며, 
           이 서비스는 멤버 사이트에 대해 단일 로그온과 핵심 프로필 서비스를 제공합니다.
    -->
    <authentication mode="Windows" /> 

	<!--  권한 부여 
           이 섹션에서는 응용 프로그램의 권한 부여 정책을 설정합니다. 사용자 또는 역할에 따라 응용 프로그램 리소스에 대한
          액세스를 허용하거나 거부할 수 있습니다. 와일드카드 "*"는 모든 사용자를 의미하고 "?"는 인증되지 않은 
          익명의 사용자를 의미합니다.
    -->

    <authorization>
        <allow users="*" /> <!-- 모든 사용자를 허용합니다. -->
            <!--  <allow     users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
                  <deny      users="[쉼표로 구분된 사용자 목록]"
                             roles="[쉼표로 구분된 역할 목록]"/>
            -->
    </authorization>

    <!--  응용 프로그램 수준 추적 로깅
          응용 프로그램 수준 추적을 사용하면 응용 프로그램 내의 모든 페이지에 대한 추적 로그 출력이 가능합니다. 
          응용 프로그램 추적 로깅을 사용하려면 trace enabled="true"로 설정합니다. pageOutput="true"이면 
          각 페이지의 아래쪽에 추적 정보가 표시됩니다. 그렇지 않으면 
          웹 응용 프로그램 루트에서 "trace.axd" 페이지를 찾아서 응용 프로그램 추적 로그를
          볼 수 있습니다. 
    -->
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />

    <!--  세션 상태 설정
          기본적으로 ASP.NET에서는 쿠키를 사용하여 특정 세션에 속한 요청을 식별합니다. 
          쿠키를 사용할 수 없는 경우 세션 식별자를 URL에 추가하여 세션을 추적할 수 있습니다. 
          쿠키를 사용하지 않으려면 sessionState cookieless="true"로 설정합니다.
    -->
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />

    <!--  전역화
          이 섹션에서는 응용 프로그램의 전역화 설정을 설정합니다. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   
 </system.web>

</configuration>
